{% extends "base.html" %}
{% block title %}Home Thing Manager - {{ device.uuid }}{% end %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
{% end %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ device.uuid }}</li>
  </ol>
</nav>
<h1>Details</h1>
<table class="table">
    <tbody>
        <tr>
            <th>UUID</th>
            <td>{{ device.uuid }}</td>
        </tr>
        <tr>
            <th>Version</th>
            <td>{{ device.sw.version }}</td>
        </tr>
        {% if hasattr(device.sw, 'capabilities') %}
        <tr>
            <th>Capabilities</th>
            <td>{{ device.sw.capabilities }}</td>
        </tr>
        {% elif hasattr(device.sw, 'profile')%}
        <tr>
            <th>Software Profile</th>
            <td><pre>{{ device.sw.profile }}</pre></td>
        </tr>
        {% end %}
        <tr>
            <th>IP Address</th>
            <td><a href="http://{{ device.device.ip }}/">{{ device.device.ip }}</a></td>
        </tr>
        <tr>
            <th>Uptime</th>
            <td>
                {% if not device.is_alive() %}
                <svg width="1.0625em" height="1em" viewBox="0 0 17 16" class="bi bi-exclamation-triangle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
                {% end %}
                {{ device.uptime_str }}
            </td>
        </tr>
        <tr>
            <th>Profile</th>
            <td>
                <div class="container">
                    <div class="row">
                        <div class="col-11">
                            <pre>{{ device.profile }}</pre>
                        </div>
                        <div class="col-1">
                            <a class="btn btn-primary" href="profile" role="button">Edit</a>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
    </tbody>
</table>
<h2>Reboots</h2>
<table class="table" id="reboots">
    <thead>
    <tr><th>Date/Time</th><th>Uptime</th></tr>
    </thead>
    <tbody>
    {% for event in device.reboots %}
        <tr>
            <td>{{ event.event_time }}</td>
            <td>{{ event.uptime }}</td>
        </tr>
    {% end %}
    </tbody>
</table>
<h2>Memory</h2>
{% autoescape None %}
{{ memory_free_div }}
{% if hasattr(device.device, 'taskStats') %}
<h2>Task Stats</h2>
<table class="table" id="taskStats">
    <thead>
    <tr><th>Task</th><th>Stack Left</th></tr>
    </thead>
    <tbody>
    {% for entry in device.device.taskStats %}
        <tr>
            <td>{{ entry[0] }}</td>
            <td>{{ entry[1] }}</td>
        </tr>
    {% end %}
    </tbody>
</table>

{% end %}
{% end %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    $('#taskStats').DataTable();
    $('#reboots').DataTable();
} );
</script>
{% end %}