{% extends "base.html" %}
{% block title %}Home Thing Manager - {{ device.uuid }}{% end %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<style>
    .float-right {
        float: right;
    }
</style>
{% end %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ device.uuid }}</li>
  </ol>
</nav>
<h1>Details</h1>
<table class="table">
    <tbody>
        <tr>
            <th>UUID</th>
            <td>{{ device.uuid }}</td>
            <td></td>
        </tr>
        <tr>
            <th>Version</th>
            <td>
                <span>{{ device.sw.version }}</span>

            </td>
            <td>
                <div class="d-flex justify-content-center w-100">
                <a class="btn btn-primary w-50" href="update" role="button">Update</a>
                </div>
            </td>
        </tr>
        {% if hasattr(device.sw, 'capabilities') %}
        <tr>
            <th>Capabilities</th>
            <td>{{ device.sw.capabilities }}</td>
            <td></td>
        </tr>
        {% elif hasattr(device.sw, 'profile')%}
        <tr>
            <th>Software Profile</th>
            <td><pre>{{ device.sw.profile }}</pre></td>
            <td></td>
        </tr>
        {% end %}
        <tr>
            <th>IP Address</th>
            <td><a href="http://{{ device.device.ip }}/">{{ device.device.ip }}</a></td>
            <td></td>
        </tr>
        <tr>
            <th>Uptime</th>
            <td>
                {% if not device.is_alive() %}
                {% end %}
                {{ device.uptime_str }}
                <svg width="1.0625em" height="1em" viewBox="0 0 17 16" class="bi bi-exclamation-triangle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>

            </td>
            <td>
                <div class="d-flex justify-content-center w-100">
                    <form method="post" action="restart">
                        <button class="btn btn-danger" type="submit">Restart</button>
                    </form>
                </div>
            </td>
        </tr>
        <tr>
            <th>Profile</th>
            <td>
                <pre>{{ device.profile }}</pre>

            </td>
            <td>
                <div class="d-flex justify-content-center w-100">
                    <a class="btn btn-primary w-50" href="profile" role="button">Edit</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<h2>Publish Topics</h2>
<table class="table">
    <thead>
        <tr><th>Entry</th><th>Topics</th><th>type</th><th>value</th></tr>
    </thead>
    <tbody>
    {% set types = ['bool', 'int', 'float', 'string', 'binary', 'hundredths', '°c', '%RH', 'kPa'] %}
    {% for entry in device.entries %}
    <tr>
        <td rowspan="{{ len(entry.pubs) }}">{{ entry.path }}</td>
        {% if entry.pubs %}
        <td>
            {{ entry.pubs[0].path }}
        </td>
        <td>
            {{ types[entry.pubs[0].message_type] }}
        </td>
        <td>
            {% if entry.pubs[0].path %}
            {{ device.properties[entry.path][entry.pubs[0].path] }}
            {% else %}
            {{ device.properties[entry.path]['default'] }}
            {% end %}
        </td>
        {% end %}
    </tr>
    {% if entry.pubs %}
        {% for topic in entry.pubs[1:] %}
        <tr>
            <td>{{ topic.path }}</td>
            <td>{{ types[topic.message_type] }}</td>
            <td>{% if topic.path %}
                {{ device.properties[entry.path][topic.path] }}
                {% else %}
                {{ device.properties[entry.path]['default'] }}
                {% end %}
            </td>
        </tr>
        {% end %}

    {% end %}
    {% end %}
    </tbody>
</table>

<h2>Reboots</h2>
<table class="table" id="reboots">
    <thead>
    <tr><th>Date/Time</th><th>Uptime</th></tr>
    </thead>
    <tbody>
    {% for event in device.reboots %}
        <tr>
            <td>{{ event.event_time }}</td>
            <td>{{ human_uptime(event.uptime) }}</td>
        </tr>
    {% end %}
    </tbody>
</table>


<h2>Memory</h2>
{% autoescape None %}
{{ memory_free_div }}
{% if hasattr(device.device, 'taskStats') %}
<h2>Task Stats</h2>
<table class="table" id="taskStats">
    <thead>
    <tr><th>Task</th><th>Stack Left</th></tr>
    </thead>
    <tbody>
    {% for entry in device.device.taskStats %}
        <tr>
            <td>{{ entry[0] }}</td>
            <td>{{ entry[1] }}</td>
        </tr>
    {% end %}
    </tbody>
</table>

{% end %}
{% end %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    $('#taskStats').DataTable();
    $('#reboots').DataTable();
} );
</script>
{% end %}